# Binaries
bin/
!npm/bin/
seaportal
!cmd/seaportal
*.exe
*.test

# Test artifacts
results/
results.json
test_urls.json
renders/

# IDE
.idea/
.vscode/

# Test/build artifacts
coverage.out
dist/
*.swp
.DS_Store
